body, html {
	padding: 0;
	margin: 0;
	min-width: 100%;
}

#wrapper {
	min-height: 100%;
	min-width: 100%;
}

#header {
	text-align: center;
	width: 100%;
}

#header-logo {
	margin-left: 43%;
	width: 15%;
	cursor: pointer;
}

#menu-icon {
	position: fixed;
	top: 3%;
	left: 2%;
	cursor: pointer;
}

#menu-icon img {
	width: 3%;
}

#search-icon {
	margin-left: 30%;
	margin-right: 15%;
}

#user-icon {
	width: 15%;
}

#bag-icon {
	width: 15%;
}

#header-buttons {
	position: fixed;
	top: 3%;
	left: 80%;
}

#header-buttons img {
	cursor: pointer;
	margin-left: 20%;
}

#nav-menu {
	margin-top: -5%;
	margin-left: 0%;
	opacity: 0;
	cursor: pointer;

}

#nav-menu li {
	font-family: Helvetica, sans-serif;
	list-style: none;
	padding-bottom: 3%;
	color: #FFBAD2;
}