<!DOCTYPE html>

<html>
	<head>
		<link rel = "stylesheet" type = "text/css" href = "assets/main.css" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type = "text/javascript" src = "scripts/main.js"></script>
	</head>

	<body>
		<script type = "text/javascript" src = "scripts/three.js"></script>
		<script type = "text/javascript" src = "scripts/OrbitControls.js"></script>

		<div id = "wrapper">
			<div id = "header">
				<div id = "menu-icon">
					<img id = "menu-icon" src = "media/menu.png" />
				</div>

				<div id = "header-buttons">
					<!-- <img id = "search-icon" src = "media/search.png" /> -->
					<img id = "bag-icon" src = "media/bag.png" />
					<img id = "user-icon" src = "media/user.png" />
				</div>

				<div id = "header-icon-container">
					<script type = "text/javascript" src = "scripts/icon-canvas.js"></script>
				</div>
			</div>

			<nav id = "nav-menu">
				<ul>
					<li> ABOUT </li>
					<li> CONTACT </li>
					<li> TERMS/SIZING </li>
				</ul>
			</nav>

			<div id = "banner-container">
				<video id = "banner-video" autoplay loop>
					<source src = "" />
				</video>
			</div>

			<div id = "preorder-container">

			</div>
		</div>
	</body>
</html>